<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUTTON | dawn-UI</title>
    <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="../installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="sidebar">
        <div class="items">
            <p class="subtext">Components</p>
            <a href="./Alert.html" class="item">Alert</a>
            <a href="./avatar.html" class="item">Avatar</a>
            <a href="./Badge.html" class="item">Badges</a>
            <a href="./Button.html" class="item">Button</a>
            <a href="./Card.html" class="item">Card</a>
            <a href="./Grid.html" class="item">Grid</a>
            <a href="./image.html" class="item">Image</a>
            <a href="./input.html" class="item">Input</a>
            <a href="./list.html" class="item">List</a>
            <a href="./modal.html" class="item">Modal</a>
            
        </div>
    </div>
    <div class="main-container-components">
        <h2 class="heading">Button</h2>
        <p class="description">Buttons are components user can click to perform an action and interact with the website.</p>
        
        <!-- Solid primary buttom -->
        <h3 class="heading heading-avatar">Primary Button (Solid)</h3>
        <p class="description description-avatar">Primary button is the main button which performs primary actions of
            your app. You can use <i>btn</i> for button and for particular button use <i>btn-primary-solid</i> to use it, as shown below.
        </p>
        
        <div class="avatar-container">
            <button class="btn btn-primary-solid">Solid Primary</button>
        </div>

        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21-----Solid%2520primary%2520Button---%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary-solid%2522%253ESolid%2520Primary%253C%252Fbutton%253E"
            style="width:100%; height: 206px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <!-- Button with Icon -->
        <h3 class="heading heading-avatar">Button with Icon</h3>
        <p class="description description-avatar">Buttons with icon can be used in e-commerce apps or regular used apps
         also. You can use <i>btn</i> for button and for particular button use </i>btn-primary-icon</i>, as shown below. </p>
        
        <div class="avatar-container">
            <button class="btn btn-primary-icon"><i class="bi bi-house-door-fill home-icon"></i>Home</button>
        </div>

        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=648&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21-----Button%2520with%2520Icon-----%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary-icon%2522%253E%253Ci%2520class%253D%2522bi%2520bi-house-door-fill%2520home-icon%2522%253E%253C%252Fi%253EHome%253C%252Fbutton%253E"
            style="width:100%; height: 225px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <!-- Link Button -->
        <h3 class="heading heading-avatar" id="#link-btn">Primary Button (Link)</h3>
        <p class="description description-avatar">Primary button is the main button which performs primary actions of
         your app. You can use <i>btn</i> for button and for link use <i>btn-link</i>  as shown below.
        </p>
        
        <div class="avatar-container">
            <button href="#link-btn" class="btn btn-link">Link</button>
        </div>

        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=648&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Link%2520Button%2520--%253E%250A%253Cbutton%2520href%253D%2522%2523link-btn%2522%2520class%253D%2522btn%2520btn-link%2522%253ELink%253C%252Fbutton%253E"
            style="width: 100%; height: 206px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <!-- Float Action Button -->
        <h3 class="heading heading-avatar">Floating Acton Button</h3>
        <p class="description description-avatar">A Floating action button (FAB) performs the primary, or most common
            action on a screen. It appears in front of all screen content, typically as a circular shape with an icon in
            its center. You can use <i>btn-float</i> as shown below. </p>
       

        <div class="avatar-container">
            <button class="btn-float">+</button>
        </div>

        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=648&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Float%2520Action%2520Button%2520--%253E%250A%253Cbutton%2520class%253D%2522btn-float%2522%253E%252B%253C%252Fbutton%253E"
            style="width: 100%; height: 206px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
    
</body>
</html>