<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="./installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="sidebar">
        <div class="items">
            <p class="subtext">Components</p>
            <a href="./components/Alert.html" class="item">Alert</a>
            <a href="./components/avatar.html" class="item">Avatar</a>
            <a href="./components/Badge.html" class="item">Badges</a>
            <a href="./components/Button.html" class="item">Button</a>
            <a href="./components/card.html" class="item">Card</a>
            <a href="./components/dialogue.html" class="item">Dialogue</a>
            <a href="./components/image.html" class="item">Image</a>
            <a href="./components/input.html" class="item">Input</a>
            <a href="./components/navbar.html" class="item">Navbar</a>
            <a href="./components/rating.html" class="item">Ratings</a>
            <a href="./components/slider.html" class="item">Slider</a>
            <a href="./components/toast.html" class="item">Snackbar</a>
            <a href="./components/grid.html" class="item">Grid</a>
            <a href="./components/typography.html" class="item">Typography</a>
        </div>
    </div>
    <div class="main-container-components">
        <h2 class="heading">Button</h2>
        <p class="description">Buttons are components user can click to perform an action and interact with the website.</p>
        
        <!-- Solid primary buttom -->
        <h3 class="heading heading-avatar">Primary Button (Solid)</h3>
        <p class="description description-avatar">Primary button is the main button which performs primary actions of
            your app. You can use <span class="colored-text">btn</span> for button and for particular button use <span
                class="colored-text">btn-primary-solid</span> to use it, as shown below. </p>
        
        <div class="flex-center alert-center">
            <button class="btn btn-secondary">Filled Primary</button>
        </div>
        <!-- Button with Icon -->
        <h3 class="heading heading-avatar">Button with Icon</h3>
        <p class="description description-avatar">Buttons with icon can be used in e-commere apps or regular used apps
            also. You can use <span class="colored-text">btn</span> for button and for particular button use <span
                class="colored-text">btn-primary-icon</span> to use it, as shown below. </p>
        
        <div class="flex-center alert-center">
            <button class="btn btn-primary-icon"><i class="bi bi-house-door-fill home-icon"></i>Home</button>
        </div>

        <!-- Link Button -->
        <h3 class="heading heading-avatar" id="#link-btn">Primary Button (Link)</h3>
        <p class="description description-avatar">Primary button is the main button which performs primary actions of
            your app. You can use <span class="colored-text">btn</span> for button and for link use <span
                class="colored-text">btn-link</span> to use it, as shown below. </p>
        
        <div class="flex-center alert-center">
            <button href="#link-btn" class="btn btn-link">Link</button>
        </div>

        <!-- Float Action Button -->
        <h3 class="heading heading-avatar">Float Acton Button</h3>
        <p class="description description-avatar">A floating action button (FAB) performs the primary, or most common,
            action on a screen. It appears in front of all screen content, typically as a circular shape with an icon in
            its center. You can use <span class="colored-text">btn-float</span> to use it, as shown below. </p>
       

        <div class="flex-center alert-center">
            <button class="btn-float">+</button>
        </div>
    </div>
    
</body>
</html>