<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid |dawn-UI</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="./installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="sidebar">
            <div class="items">
                <p class="subtext">Components</p>
                <a href="./Alert.html" class="item">Alert</a>
                <a href="./avatar.html" class="item">Avatar</a>
                <a href="./Badge.html" class="item">Badges</a>
                <a href="./Button.html" class="item">Button</a>
                <a href="./Card.html" class="item">Card</a>
                <a href="./Grid.html" class="item">Grid</a>
                <a href="./image.html" class="item">Image</a>
                <a href="./input.html" class="item">Input</a>
                <a href="./list.html" class="item">List</a>
                <a href="./modal.html" class="item">Modal</a>
                
            </div>
        </div>
    
</body>
</html>