<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid |dawn-UI</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="./installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="sidebar">
            <div class="items">
                <p class="subtext">Components</p>
                <a href="./Alert.html" class="item">Alert</a>
                <a href="./avatar.html" class="item">Avatar</a>
                <a href="./Badge.html" class="item">Badges</a>
                <a href="./Button.html" class="item">Button</a>
                <a href="./Card.html" class="item">Card</a>
                <a href="./Grid.html" class="item">Grid</a>
                <a href="./image.html" class="item">Image</a>
                <a href="./input.html" class="item">Input</a>
                <a href="./list.html" class="item">List</a>
                <a href="./modal.html" class="item">Modal</a>
                
            </div>
        </div>
        <div class="main-container-components">
            <h2 class="heading">Grid</h2>
            <p class="description">A grid is 2 dimensional layout used for dipslaying content along rows and columns.
                we offer the following range of Grids- 2-Column grid, 3-Column grid, and 4-Column grid.</p>
                
                <!----Grid with 2-columns--->
            <h3 class="heading heading-avatar"> Grid with 2-columns</h3>
            <p class="description description-avatar">This is a grid layout with 2 columns, and 1 column in small screens.
                To generate a grid layout with 2 columns, we use the base class grid along with the supporting class col-2.
            </p>
            <div class="badge_container-main flex-center">
                <div class="grid col-2">
                    <div class="grid-item">
                        <img src="../images/Ice-cream.png" alt=" Ice-cream Bowl" class="img-responsive">
                    </div>
                    <div class="grid-item">
                        <div class="p-0-75">
                            <div class="container-header">
                                <h3 class="card-heading">
                                   Ice-Cream Bowl
                                </h3>
                                <p class="card-author"> A bowl full of favourite flavours of Ice-cream!</p>
                            </div>
                            <button class="btn btn-primary px-0-75 py-0-5 mt-1">
                                Order Now
                            </button>
                        </div>
                    </div>
                </div>                        
            </div>
            <div class="code-snippet-container">
                <p>Copy the code below to generate a basic 2 columns grid.</p>
                <iframe></iframe>
            </div>
            
            <!----Grid with 3-columns--->
            <h3 class="heading heading-avatar"> Grid with 3-columns</h3>
            <p class="description description-avatar">This is a grid layout with 3 columns, and 1 column in small screens.
                 To generate a grid layout with 3 columns, we use the base class grid along with the supporting class col-3.
            </p>
            <div class="grid col-3">
                <div class="grid-item">
                    <div class="testimonial-container ">
                        <div class="container-header">
                            <h4 class="card-heading">
                                XXXX
                            </h4>
                            <img src="../images/Avatar1.png" alt="Extra Large Size Avatar" class="avatar avatar-xl" />
                        </div>
                        <p class="card-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti vitae rem asperiores, repellat aliquid commodi 
                            laboriosam amet nisi officiis reprehenderit.
                        </p>
                    </div>
                </div>
                
                <div class="testimonial-container">
                    <div class="container-header">
                        <h4 class="card-heading">
                            XXXX
                        </h4>
                        <img src="../images/Avatar2.png" alt="Extra Large Size Avatar" class="avatar avatar-xl " />
                    </div>
                    <p class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti vitae rem asperiores, 
                        repellat aliquid commodi laboriosam amet nisi officiis reprehenderit.
                    </p>
                </div>
                
                <div class="testimonial-container">
                    <div class="container-header">
                        <h4 class="card-heading">
                            XXXX
                        </h4>
                        <img src="../images/Ice-cream.png" alt="Extra Large Size Avatar" class="avatar avatar-xl"/>
                        
                    </div>
                    <p class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti vitae rem asperiores, repellat 
                        aliquid commodi laboriosam amet nisi officiis reprehenderit.
                    </p>
                </div>
            </div> 
            <div class="code-snippet-container">
                <p>Copy the code below to generate a basic 3 columns grid.</p>
                <iframe></iframe>
            </div>
            

            <!----Grid with 4-columns--->
            <h3 class="heading heading-avatar"> Grid with 4-columns</h3>
            <p class="description description-avatar">This is a grid layout with 4 columns.
                The grid is displayed with a 3 column layout in medium screens, 2 column layout in tablet sized screens, and 1 column layout in mobile screens and smaller.
                To generate a grid layout with 4 columns, we use the base class grid along with the supporting class col-4.
            </p>
            <div class="grid col-4 ">
                <div class="grid-item">
                    <img src="../images/Avatar1.png" alt="A Male Avatar" class="p-1 img-responsive" />
                </div>
                
                <div class="grid-item">
                    <img src="../images/Avatar2.png" alt="A Female Avatar" class="p-1 img-responsive" />
                </div>
                
                <div class="grid-item">
                    <img src="../images/blur-stain.jpg" alt="A blur stain" class="p-1 img-responsive" />
                </div>
                
                <div class="grid-item">
                    <img src="../images/Ice-cream.png" alt="A Bowl of Ice-cream" class="p-1 img-responsive" />
                </div>
            </div> 
            <div class="code-snippet-container">
                <p>Copy the code below to generate a basic 4 columns grid.</p>
                <iframe></iframe>
            </div>
        </div>
    </div>
            
           
    
</body>
</html>