<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE | dawn-UI</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="../installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="sidebar">
            <div class="items">
                <p class="subtext">Components</p>
                <a href="./Alert.html" class="item">Alert</a>
                <a href="./avatar.html" class="item">Avatar</a>
                <a href="./Badge.html" class="item">Badges</a>
                <a href="./Button.html" class="item">Button</a>
                <a href="./Card.html" class="item">Card</a>
                <a href="./Grid.html" class="item">Grid</a>
                <a href="./image.html" class="item">Image</a>
                <a href="./input.html" class="item">Input</a>
                <a href="./list.html" class="item">List</a>
                <a href="./modal.html" class="item">Modal</a>
                
            </div>
        </div>
        <div class="main-container-components">
            <h2 class="heading">Image</h2>
            <p class="description">Images are the most important component of a website as they attract the user's attention and, therefore, should be responsive.
                We offer the following types of images - Responsive images, Images rounded corner, and Round Images.
            </p>
            <h3 class="heading heading-avatar">Responsive Image</h3>
            <p class="description description-avatar">You can use this responsive image in background or any of the web
                page. It will enhance its beauty. To use it include <i>img-responsive</i> class as shown below. </p>
            <div class="avatar-container">
                <img src="https://picsum.photos/960/500" alt="Nature" class="img-responsive">
            </div>
            
            <div class="code-snippet-container">
                <p>Copy the code below to generate a responsive Image</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F960%252F500%2522%2520alt%253D%2522Nature%2522%2520class%253D%2522img-responsive%2522%253E"
                    style="width:100%; height: 188px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                    
            </div>
            

            <!-- Images with Round Corners -->
            <h3 class="heading heading-avatar">Images with Round Corners</h3>
            <p class="description description-avatar">To generate an image with rounded cornders, add the base class <i>img-responsive</i> along with the supporting class <i>round-corner.</i>
            </p>

            <div class="avatar-container">
                <img class="img-responsive round-corner" src="https://picsum.photos/300/300" alt="Image with Round Corner">
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate a responsive Image with round Corners</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-responsive%2520round-corner%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F300%252F300%2522%2520alt%253D%2522Image%2520with%2520Round%2520Corner%2522%253E"
                    style="width:100%; height: 206px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                    
            </div>

             <!-- Round Images -->
             <h3 class="heading heading-avatar">Round Images</h3>
             <p class="description description-avatar">To generate a  round image, use the base class <i>img-round</i> along with the base class img-responsive.
             </p>

            <div class="avatar-container">
                <img class="img-round img-responsive" src="https://picsum.photos/200/300" alt="Round Image">
            </div>
            <div class="code-snippet-container">
                <p>Copy the code below to generate a responsive round Image</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-round%2520img-responsive%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F200%252F300%2522%2520alt%253D%2522Round%2520Image%2522%253E"
                    style="width: 100%; height: 188px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                    
            </div>
            
        </div>
    </div>
    
</body>
</html>