<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INPUT | dawn-UI</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="../installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="sidebar">
            <div class="items">
                <p class="subtext">Components</p>
                <a href="./Alert.html" class="item">Alert</a>
                <a href="./avatar.html" class="item">Avatar</a>
                <a href="./Badge.html" class="item">Badges</a>
                <a href="./Button.html" class="item">Button</a>
                <a href="./Card.html" class="item">Card</a>
                <a href="./Grid.html" class="item">Grid</a>
                <a href="./image.html" class="item">Image</a>
                <a href="./input.html" class="item">Input</a>
                <a href="./list.html" class="item">List</a>
                <a href="./modal.html" class="item">Modal</a>
            </div>
        </div>
        <div class="main-container-components">
            <h2 class="heading">Input</h2>
            <p class="description">Inputs are necessary for user interaction with the website by allowing users to input information of various types and then save the data to the server accordingly.</p>
            <p class="description"> We offer  following types of input components- Default Inputs, Inline Inputs, Inputs with success validations, Inputs with warning validations, Inputs with error validations, and Textbox.</p>
            
            
            <!-------Default Input------>
            <h3 class="heading heading-avatar">Default Input</h3>
            <p class="description description-avatar">To generate a default input, use the base <i>class input</i> along with the supporting class <i>input-default</i>.</p>
            
            <div class="avatar-container">
                <div class="input-group input-default">
                    <label class="text-label flex--col" for="input-name">
                        Name
                        <input type="text" id="input-name" class="input-text" placeholder="Enter your name">
                    </label>
                    <span class="text-message"></span>
                </div>
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate a default Input</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2520input-default%2522%253E%250A%2509%253Clabel%2520class%253D%2522text-label%2520flex--col%2522%2520for%253D%2522input-name%2522%253E%250A%2520%2520%2520%2520%2509Name%250A%2520%2520%2520%2520%2509%253Cinput%2520type%253D%2522text%2522%2520id%253D%2522input-name%2522%2520class%253D%2522input-text%2522%2520placeholder%253D%2522Enter%2520your%2520name%2522%253E%250A%2520%2520%2520%2509%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522text-message%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 299px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                    
            </div>
            
            
            <!---------Inline Input-------->
            <h3 class="heading heading-avatar">Inline Input</h3>
            <p class="description description-avatar">To generate an inline input, use the base class <i>input-group</i> along with the supporting class <i>input-inline</i>.</p>
                                    
            <div class="avatar-container">
                <div class="input-group input-default input-inline">
                    <label class="text-label flex--row flex--align-center" for="input-inline-name">
                        Name
                        <input type="text" id="input-inline-name" class="input-text" placeholder="Enter your name.">
                    </label>
                    <span class="text-message "></span>
                </div>
                
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate an Inline Input</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2520input-default%2520input-inline%2522%253E%250A%2509%253Clabel%2520class%253D%2522text-label%2520flex--row%2520flex--align-center%2522%2520for%253D%2522input-inline-name%2522%253E%250A%2520%2520%2520%2520%2509Name%250A%2520%2520%2520%2520%2509%253Cinput%2520type%253D%2522text%2522%2520id%253D%2522input-inline-name%2522%2520class%253D%2522input-text%2522%2520placeholder%253D%2522Enter%2520your%2520name.%2522%253E%250A%2520%2520%2520%2520%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522text-message%2520%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 299px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


            <!---------Input with Success Valiation-------->
            <h3 class="heading heading-avatar">Input with Success validation</h3>
            <p class="description description-avatar">To generate an input that converys a success validation, use the base class input-group along with the supporting class input-success.</p>
                
            <div class="avatar-container">
                <div class="input-group input-success">
                    <label class="text-label flex--col" for="input-strong-password">
                        Password
                        <input type="password" id="input-strong-password" class="input-text" placeholder="Enter your password...">
                    </label>
                    <span class="text-message">Strong Password</span>
                </div>
                
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate an Input with Success validation</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2520input-success%2522%253E%250A%2520%2509%253Clabel%2520class%253D%2522text-label%2520flex--col%2522%2520for%253D%2522input-strong-password%2522%253E%250A%2520%2520%2520%2520%2509Password%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cinput%2520type%253D%2522password%2522%2520id%253D%2522input-strong-password%2522%2520class%253D%2522input-text%2522%2520placeholder%253D%2522Enter%2520your%2520password...%2522%253E%250A%2520%2520%2520%2520%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522text-message%2522%253EStrong%2520Password%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width:100%; height: 318px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


            <!---------Input with Warning Valiation-------->
            <h3 class="heading heading-avatar">Input with Warning validation</h3>
            <p class="description description-avatar">To generate an input that conveys a warning validation, we use the base class <i>input-group</i> class along with the supporting class <i>input-warning</i>.
            </p>
                
            <div class="avatar-container">
                <div class="input-group input-warning ">
                    <label class="text-label flex--col" for="input-weak-password">
                        Password
                        <input type="password" id="input-weak-password" class="input-text" placeholder="Enter your password">
                    </label>
                    <span class="text-message">Weak Password</span>
                </div>
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate an Input with Warning</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2520input-warning%2520%2522%253E%250A%2509%253Clabel%2520class%253D%2522text-label%2520flex--col%2522%2520for%253D%2522input-weak-password%2522%253E%250A%2520%2520%2520%2520%2509Password%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cinput%2520type%253D%2522password%2522%2520id%253D%2522input-weak-password%2522%2520class%253D%2522input-text%2522%2520placeholder%253D%2522Enter%2520your%2520password%2522%253E%250A%2520%2520%2520%2520%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522text-message%2522%253EWeak%2520Password%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width:100%; height: 318px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


            <!---------Input with error Valiation-------->
            <h3 class="heading heading-avatar">Input with Error validation</h3>
            <p class="description description-avatar">To generate an input that conveys an error validation, we use the base class <i>input-group</i> class along with the supporting class <i>input-error</i>.
            </p>
                
            <div class="avatar-container">
                <div class="input-group input-error ">
                    <label class="text-label flex--col" for="input-error-email">
                        Email
                        <input type="email" id="input-error-email" class="input-text " placeholder="Enter your email">
                    </label>
                    <span class="text-message">Incorrect Email</span>
                </div>
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate an Input with error</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2520input-error%2520%2522%253E%250A%2509%253Clabel%2520class%253D%2522text-label%2520flex--col%2522%2520for%253D%2522input-error-email%2522%253E%250A%2520%2520%2520%2520%2509Email%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cinput%2520type%253D%2522email%2522%2520id%253D%2522input-error-email%2522%2520class%253D%2522input-text%2520%2522%2520placeholder%253D%2522Enter%2520your%2520email%2522%253E%250A%2520%2520%2520%2520%2520%253C%252Flabel%253E%250A%2520%2520%2520%2520%2520%253Cspan%2520class%253D%2522text-message%2522%253EIncorrect%2520Email%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width:100%; height: 299px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>


            <!---------Deafult Textbox-------->
            <h3 class="heading heading-avatar">Default Textbox</h3>
            <p class="description description-avatar">This input component allows users to enter multiple lines of text.</p>
            <p class="description">To generate a textbox use the base class input-group along with the supporting classes textbox-default and textbox-group.
            </p>
                 
            <div class="avatar-container">
                <div class="input-group textbox-default textbox-group ">
                    <label for="input-comments" class="text-label">Comments</label>
                    <textarea id="input-coments" class="input-textbox " rows="10" cols="30" placeholder="Enter your comments..."></textarea>
                    <span class="text-message"></span>
                </div>
            </div>

            <div class="code-snippet-container">
                <p>Copy the code below to generate a Default textbox</p>
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28138%2C88%2C51%2C1%29&t=theme%3A5klpf3lil4v&wt=none&l=htmlmixed&width=876&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-group%2520textbox-default%2520textbox-group%2520%2522%253E%250A%2509%253Clabel%2520for%253D%2522input-comments%2522%2520class%253D%2522text-label%2522%253EComments%253C%252Flabel%253E%250A%2520%2520%2520%2509%253Ctextarea%2520id%253D%2522input-coments%2522%2520class%253D%2522input-textbox%2520%2522%2520rows%253D%252210%2522%2520cols%253D%252230%2522%2520placeholder%253D%2522Enter%2520your%2520comments...%2522%253E%253C%252Ftextarea%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522text-message%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                    style="width:100%; height: 281px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                
            </div>
        </div>
    </div>
        
            








    

</body>
</html>