<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIST | dawn-UI</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="../installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="sidebar">
            <div class="items">
                <p class="subtext">Components</p>
                <a href="./Alert.html" class="item">Alert</a>
                <a href="./avatar.html" class="item">Avatar</a>
                <a href="./Badge.html" class="item">Badges</a>
                <a href="./Button.html" class="item">Button</a>
                <a href="./Card.html" class="item">Card</a>
                <a href="./Grid.html" class="item">Grid</a>
                <a href="./image.html" class="item">Image</a>
                <a href="./input.html" class="item">Input</a>
                <a href="./list.html" class="item">List</a>
                <a href="./modal.html" class="item">Modal</a>
            </div>
        </div>
        <div class="main-container-components">
            <h2 class="heading">Lists</h2>
            <p class="description">List is a component that displays collection of information vertically or horizontally.
               <span> we offer the following type of lists - Spaced List, Stacked List, and Inline List</span>
            </p>

            
            <!-------Spaced List------>
            <h3 class="heading heading-avatar">Spaced List</h3>
            <p class="description description-avatar">This is the default or basic list that displays data vertically with some space in between.
                <span>To generate a spaced list, use the base class list along with the supporing class list-spaced.</span>
            </p>
            <p>Copy the code below to use a spaced list.</p>
            <iframe class="code-snippet-display">
            </iframe>

            <div class="avatar-container">
                <ul class="list list-spaced ">
                    <p class="list-head text text-lg ">Navigation</p>
                    
                    <li class="list-item">Home</li>
                        
                    <li class="list-item">About</li>
                        
                    <li class="list-item">Products</li>
                        
                    <li class="list-item">Contact</li>
                </ul>
                
            </div>

            <!-------Stacked List------>
            <h3 class="heading heading-avatar">Stackd List</h3>
            <p class="description description-avatar">This is a variation of list component where the items are stacked vertically without any bullets.
                <span> To generate a stacked list, use the base class list along with the supporting stacked-list.
                Add the class list-style-none to remove list item bullets</span>

            </p>
            <p>Copy the code below to use a staced list.</p>
            <iframe class="code-snippet-display">
            </iframe>
 
            <div class="avatar-container">
                <ul class="list list-stacked list-style-none">
                    <p class="list-head text text-lg ">Notifications</p>
                    
                    <li class="list-item ">
                        XXX visited your profile.
                    </li>
                    
                    <li class="list-item ">
                        XXX commented on your post.
                    </li>
                    
                    <li class="list-item ">
                        XXX has their birthday today. Wish them well. 
                    </li>
                                                
                    <li class="list-item ">
                        XXX tagged you in a post.
                    </li>  
                </ul>
            </div>


            <!-------Inline List------>
            <h3 class="heading heading-avatar">Inline List</h3>
            <p class="description description-avatar">This is a variation of list component where the items are stacked horizontally without any bullets.
                 <span>To generate an inline list, use the base class list along with the supporting list-inline. Add the class list-style-none to remove list item bullets.</span>
            </p>
 
            <p>Copy the code below to use an inline list.</p>
            <iframe class="code-snippet-display">
            </iframe>
  
            <div class="avatar-container">
                <ul class="list list-inline list-style-none">
                    <li class="list-item ">
                        <a href="#" class="btn btn-link btn-primary">Home</a>
                    </li>
                    
                    <li class="list-item ">
                        <a href="#" class="btn btn-link btn-primary">About</a>
                    </li>
                                                
                    <li class="list-item">
                        <a href="#" class="btn btn-link btn-primary">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
                



                





</body>
</html>