<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODAL | dawn-UI</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="left-nav">
                <a href="../index.html" class="nav nav-logo">dawn UI</a>
                
            </div>
            <div class="right-nav">
                <ul class="list">
                    <li><a href="../index.html" class="nav nav-pills">Home</a></li>
                    <li><a href="../installation.html" class="nav nav-pills">Installation</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="sidebar">
            <div class="items">
                <p class="subtext">Components</p>
                <a href="./Alert.html" class="item">Alert</a>
                <a href="./avatar.html" class="item">Avatar</a>
                <a href="./Badge.html" class="item">Badges</a>
                <a href="./Button.html" class="item">Button</a>
                <a href="./Card.html" class="item">Card</a>
                <a href="./Grid.html" class="item">Grid</a>
                <a href="./image.html" class="item">Image</a>
                <a href="./input.html" class="item">Input</a>
                <a href="./list.html" class="item">List</a>
                <a href="./modal.html" class="item">Modal</a>
            </div>
        </div>
        <div class="main-container-components">
            <h2 class="heading">Modal</h2>
            <p class="description">A modal is a small window that appears over the main window to grab the user's 
                attention. A modal displays important information on actions that the user has to perform before 
                working with the main window.
            </p>

            <!-------Simple Modal------>
            <h3 class="heading heading-avatar">Simple Modal</h3>
            <p class="description description-avatar">A simple modal consists of a text conveying information along with action buttons.</p>
            <p class="description">To generate a modal use the base class modal-container and active-modal.
               <span>Add the modal text and action buttons within the modal-content container.</span> 
               And use the following classes <i>modal-text</i> and <i>modal-action-buttons</i> - for the modal text and action buttons respectively.</p>

            <iframe class="code-snippet-display">
            </iframe>
            <div class="avatar-container">
                <div class="modal-container active-modal">
                    <div class="modal-content ">
                        <div class="modal-text text-reg">
                            Discard draft?
                        </div>
                        <button class="btn btn-icon btn-primary btn-modal-close">
                            <span class="icon">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                        <div class="modal-action-buttons">
                            <button class="btn btn-primary btn-outline text-sm">Cancel</button>
                            <button class="btn btn-primary text-sm">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
</body>
</html>