.badge-container {
    width: max-content;
    position: relative;
}

.badge-status {
    position: absolute;
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    bottom: 0.25rem;
    right: 0.25rem;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.avatar.avatar-xl + .badge-status {
    height: 1.5rem;
    width: 1.5rem;
    bottom: 0.25rem;
    right: 0.25rem;
}

.avatar.avatar-lg + .badge-status {
    height: 1.25rem;
    width: 1.25rem;
    bottom: 0.15rem;
    right: 0.15rem;
}

.avatar.avatar-md + .badge-status {
    height: 1rem;
    width: 1rem;
    bottom: 0.12rem;
    right: 0.12rem;
}

.avatar.avatar-sm + .badge-status {
    height: 0.75rem;
    width: 0.75rem;
    bottom: 0.075rem;
    right: 0.075rem;
}

.avatar.avatar-xs + .badge-status {
    height: 0.5rem;
    width: 0.5rem;
    bottom: 0.05rem;
    right: 0.05rem;
    border-width: 0.1rem;
}

.status-available {
    background-color: var(--success);
}

.status-idle {
    background-color: var(--warning);
}

.status-busy {
    background-color: var(--danger);
}

.status-offline {
    background-color: var(--light);
}

.flex-center {
    display: flex;
    align-items: center;
  }
  
  .badge_container-main {
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
  }
  
  .text_with_badge {
    margin: 1rem;
  }
  
  .badge {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--btn-background-color);
    border-radius: 50%;
    position: relative;
    bottom: 10px;
  }
  
  .badge-small {
    height: 1.5rem;
    width: 1.5rem;
    color:var(--dark-white);
  }
  
  .badge-large {
    height: 2rem;
    width: 2rem;
    right: 10px;
    font-size: 22px;
    font-weight: bold;
    color:var(--dark-white);
  }
  
  .badge_container-btn {
    margin: 1rem;
  }
  
  .btn-badge {
    background-color: var(--item-background-color);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-left-badge {
    border-radius: 5px;
    color: var(--text-color-black);
    position: relative;
  }
  
  .badge-left {
    background-color: var(--secondary-color);
    position: relative;
    bottom: 1rem;
    right: 5.5rem;
    color:var(--dark-white)
  }
  
  .btn_and_badge {
    padding: 1rem;
  }
  
  .btn-toggle-badge {
    background-color: var(--item-background-color);
    color: var(--text-color-black);
    position: relative;
  }
  
  .badge-toggle {
    position: relative;
    bottom: 1.1rem;
    right: 15px;
    color:var(--dark-white);
  }
  
  /* Icon with badge */
  
  .icon {
    font-size: 22px;
  }
  
  .badge-icon {
    position: relative;
    bottom: 10px;
    right: 25px;
    color:var(--dark-white);
  
}
