@import "https://use.fontawesome.com/releases/v5.0.7/css/all.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css";
@import url("../styles/avatar.css");
@import url("../styles/alert.css");
@import url("../styles/badge.css");
@import url("../styles/button.css");
@import url("../styles/card.css");
@import url("../styles/grid.css");
@import url("../styles/image.css");
@import url("../styles/input.css");
@import url("../styles/list.css");
@import url("../styles/modal.css");

/******* Defining CSS Varibles *****/
:root {
    --primary-color: #33658A;
    --secondary-color: #8A5833 ;
    --text-color-black: #2b2b2b;
    --dark-white: #f7f7f7;
    --body-background-color: #cac6c6;
    --item-background-color: #c5c5c5;
    --light-gray-color:#D3D3D3;
    --hover-color: #8a5833;
    --primary: #60a5fa;
    --secondary: #9da0a7;
    --success: #2ad898;
    --danger: #f86262;
    --warning: #f8dd72;
    --info: #7eaee4;
    --light: #d6d7d8;
    --dark: #39303d;
    --box-shadow-down: 0px 0px 10px 4px rgb(0 0 0 / 6%);
    --box-shadow-up: 0px -4px 10px rgb(0 0 0 / 7%);
    --box-shadow-card: 1px 2px 1px 2px rgba(0, 0, 0, 0.1);
    --bg-color:#FAFAFA;
    --text-xxl: 3rem;
    --text-xl: 2.5rem;
    --text-lg: 2rem;
    --text-md: 1.5rem;
    --text-sm: 1rem;
    --text-xs: 0.75rem;
    --br-5:5px;
    --br-4:4px;

  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     scroll-behavior: smooth;
     
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--dark-white);
    box-shadow: var(--box-shadow-down);
  }

  .nav {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-white);
  }
  
  .nav-logo {
    color: var(--dark-white);
  }
  
  .right-nav-active {
    color: var(--primary-color);
  }
  
  .nav:hover {
    color: var(--hover-color);
  }
  
  .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
  }

  /*  CSS Documentation*/

.main-container {
  background-color: var(--primary-color);
  width: 15rem;
}

.avatar-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  padding: 1.3rem;
  border: 2px solid var(--primary-color);
  border-radius: 5rem;
  -webkit-border-radius:5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.main-container-components {
  margin-left: 15rem;
}

.subtext {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid var(--primary-color);
}

.items {
  width: 15rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.2rem;
  overflow: smooth;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
}

.item {
  padding: 1rem;
  text-decoration: none;
  color: var(--primary-color );
}

.item:hover {
  color: var(--dark-white);
  background-color: var(--primary-color);
}

.item:focus {
  color: var(--dark-white);
  background-color: var(--primary-color);
}

iframe,img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  font-size: inherit;
  display: inline-block;
}

/* .code-snippet-display {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 1rem 0;
  background-color: var(--btn-background-color);
  border: 1px solid var(--primary-color);
  margin: 1rem 0;
  border-radius: 0.3rem;
} */


.btn {
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 15px;
}
.btn:hover{
  color:var(--secondary-color)
}

.btn-primary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--btn-background-color);
}

.bi {
  padding: 1rem;
  color: var(--primary-color);
}

.bi:hover {
  color: var(--secondary-color);
}

/******* Adding Media Queries ******/

@media screen and (max-width: 768px) {
  .container {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    font-size: 1.2rem;
  }
}
