@import "https://use.fontawesome.com/releases/v5.0.7/css/all.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css";
@import url("../styles/avatar.css");

/******* Defining CSS Varibles *****/
:root {
    --primary-color: #33658A;
    --secondary-color: #8A5833 ;
    --text-color-black: #2b2b2b;
    --body-background-color: #cac6c6;
    --item-background-color: #c5c5c5;
    --light-gray-color:#D3D3D3;
    --hover-color: #7a5353;
    --box-shadow-down: 0px 0px 10px 4px rgb(0 0 0 / 6%);
    --box-shadow-up: 0px -4px 10px rgb(0 0 0 / 7%);
    --box-shadow-card: 1px 2px 1px 2px rgba(0, 0, 0, 0.1);
    --bg-color:#FAFAFA;
    --text-xxl: 3rem;
    --text-xl: 2.5rem;
    --text-lg: 2rem;
    --text-md: 1.5rem;
    --text-sm: 1rem;
    --text-xs: 0.75rem;

  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     scroll-behavior: smooth;

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--body-background-color);
    color: var(--text-color-black);
    box-shadow: var(--box-shadow-down);
  }

  .nav {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color-black);
  }
  
  .nav-logo {
    color: var(--primary-color);
  }
  
  .right-nav-active {
    color: var(--primary-color);
  }
  
  .nav:hover {
    color: var(--primary-color);
  }
  
  .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
  }

  /*  CSS Documenatation*/

.main-container {
  background-color: var(--btn-background-color);
  width: 15rem;
}

.main-container-components {
  margin-left: 15rem;
}

.subtext {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid var(--text-color-black);
}

.items {
  width: 15rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.2rem;
  overflow: scroll;
  overflow-y: auto;
  height: 90vh;
  overflow-x: hidden;
  position: absolute;
}

.item {
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color-black);
}

.item:hover {
  color: var(--primary-color);
  background-color: var(--item-background-color);
}

.item:focus {
  color: var(--primary-color);
  background-color: var(--item-background-color);
}

iframe,img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  font-size: inherit;
  display: inline-block;
}





.code-snippet-display {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 1rem 0;
  background-color: var(--btn-background-color);
  border: 1px solid var(--primary-color);
  margin: 1rem 0;
  border-radius: 0.3rem;
}

/******* Adding Media Queries ******/

@media screen and (max-width: 768px) {
  .container {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    font-size: 1.2rem;
  }
}
