
  
  .modal-container {
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
    width: 15rem;
    background-color: white;
    width:20rem;
    text-align:justify;
  }
  
  .modal-heading {
    margin-bottom: 1rem;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 2rem 2rem;
  }
  
  .modal-button {
    border: 1px solid var(--primary-color);
    font-size: 16px;
    border-radius:1rem;
    padding:0.5rem;
    
  }
  
  .modal-button-yes {
    color: var(--dark-white);
    background-color: var(--primary-color);
  }
  
  .modal-button-yes:hover {
    font-weight: bold;
    
  }
  
  .modal-button-no {
    color: var(--dark-white);
    background-color: var(--secondary-color);
  }
  
  .modal-button-no:hover {
    font-weight: bold;
    
  }
  
  .modal-buttons-stacked {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2rem;
  }
  
 